<!DOCTYPE html>
<html>

   <head>
      <title>Time Stamp Microservice</title>
      <link rel="shortcut icon" href="https://cdn.glitch.com/dcb0d7f6-6f94-4cde-a045-46491bfef7d7%2Fdfstar.ico?1516235065279" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>Timestamp Microservice</h1>
         <h3>Example Usage</h3>
        <ul>
          <li>
            https://time-stamp-microservice-tsms.glitch.me/<span class="userInput">2004-02-29</span>
          </li>
            <li>
              https://time-stamp-microservice-tsms.glitch.me/<span class="userInput">1078012800</span>
        </li>
        </ul>
        <h3>Example Output</h3>
        <ul>
          <li>
          {"unix":1078012800, "natural":"February 29, 2004"}
        
          </li>
        </ul>
      </div>
   </body>
</html>
